/* My profile - Follow me list */
.list-inline{
  list-style: none;
  padding-left: 0px;

  overflow: hidden;
  transition: 0.5s;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

.list-inline i {
  font-size: 50px;
}

.list-inline i:hover {
  font-size: 50px;
  color:#efbbcf;
  overflow: hidden;
  transition: 0.5s;
}


